// landing page video
.landing-video-overlay{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -99;
  background: rgba($black, 0.9);
  @include breakpoint(large){
    display: block;
  }
}
.landing-video{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;

  @include breakpoint(large){
    display: block;
  }
}

// watch now
#player-watch{
  margin-top: rem-calc(15);
  font-size: 1.2rem;
  .fa-play-circle{
    position: relative;
    bottom: -2px;
  }
  @include breakpoint(large) {
    margin-top: rem-calc(25);
    font-size: 1.7rem;
  }
}

// the player on mobile
@include breakpoint(medium down){
  #player-watch{
    display: none;
  }

  #player-wrapper{
    position: relative;
    text-align: center;

    #player{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 998;
    }
  }
}

// the player on iphones
.is-mobile.is-iphone{
  border: 5px solid orange;
  #player-watch{
    display: inline-block;
  }

  #player-wrapper #player{
    position: absolute;
    margin-top: rem-calc(-80);
    height: rem-calc(60);
    margin-left: -25%;
    width: 150%;
    opacity: 0;
  }
}

// the player on desktop
@include breakpoint(large){
  #player-wrapper{
    position: relative;
    text-align: center;

    #player{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 998;
    }
  }
}
