// landing page video
.landing-video-overlay{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -99;
  background: rgba($black, 0.9);
  @include breakpoint(medium){
    display: block;
  }
}
.landing-video{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;

  @include breakpoint(large){
    display: block;
  }
}

// watch now
#player-watch{
  margin-top: rem-calc(15);
  font-size: 1.2rem;
  .fa-play-circle{
    position: relative;
    bottom: -2px;
  }
  @include breakpoint(large){
    margin-top: rem-calc(25);
    font-size: 1.7rem;
  }
}

// the player itself
#player-wrapper{
  position: relative;
  border: 2px solid orange;
  @include transition(opacity 0.5s);

  #player{
    border: 5px solid yellow;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @include breakpoint(small only){
    opacity: 0.3;
    width: 100%;
    margin-top: rem-calc(-80);
    height: rem-calc(80);
  }
}
