.marquee{
  @include flex();
  @include flex-align(center, middle);
  position: relative;
  width: 100%;
  height: rem-calc(200);

  @include breakpoint(medium){
    height: rem-calc(400);
  }

  .title{
    font-size: rem-calc(80);
  }

  .marquee-image{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    @include breakpoint(medium){
      background-attachment: fixed;
    }
  }
}
