.section-landing{
  position: relative;
  @include flex();
  @include flex-align(center);
  flex-direction: column;
  width: 100%;
  color: $white;
  padding-bottom: rem-calc(20);
  overflow: hidden;

  @include breakpoint(large){
    @include flex-align(center, middle);
    height: 100vh;
  }
}

#section-landing-content{
  text-align: center;
  padding: rem-calc(15);
  margin-top: rem-calc(60);
}

#landing-section-bg{
  position: absolute;
  background: url('/images/tub.jpg') center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  top: 0;
  left: 0;
  z-index: -1;
}

.section-landing{
  .newsletter{
    display: none;

    @include breakpoint(large){
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: rgba($primary-color, 0.4);
      @include flex();
      @include flex-align(center);
    }

    .newsletter-signup-form{
      // width: rem-calc(300);
      padding: rem-calc(10) 0;
      @include flex();
      input{
        background-color: $black;
        margin-bottom: 0;
        margin-right: rem-calc(15);
        border: 0;
        color: $white;
        &:last-child{
          margin-right: 0;
        }
        &[type="email"]{
          width: rem-calc(200);
        }
      }
    }
  }
}
