.site-side-nav-active{
  margin-left: rem-calc(200);
  @include transition(margin-left 0.2s);
}

.section{
  background-color: $grey90;
  padding: rem-calc(30) 0;
}

.container{
  max-width: rem-calc(600);
  margin: 0 auto;
  padding: rem-calc(0 15);
  @include breakpoint(large){
    padding: 0;
  }
}

.page-marquee{
  padding-top: rem-calc(400);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.socialmedia-icons{
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: rem-calc(20);
  li{
    display: inline-block;
    margin-right: rem-calc(30);
    &:last-child{
      margin-right: 0;
    }
  }
  &.large{
    font-size: rem-calc(40);
  }
}

.fb-like{
  text-align: center;
  padding: rem-calc(20 40);
  background-color: $grey80;
  width: 100%;
  display: block !important;

  @include breakpoint(medium){
    padding: rem-calc(40 40);
  }
}

#site-footer{
  background-color: $black;
  padding: rem-calc(60 0);
  text-align: center;

  .newsletter{
    margin: 0 auto;
    .newsletter-signup-form{
      max-width: rem-calc(340);
      margin: 0 auto;
    }
  }

  @include content-color($white);
}
