.site-side-nav-active{
  margin-left: rem-calc(200);
  @include transition(margin-left 0.2s);
}

.section{
  background-color: $grey90;
  padding: rem-calc(30) 0;
}

.container{
  max-width: rem-calc(600);
  margin: 0 auto;
  padding: rem-calc(0 15);
  @include breakpoint(large){
    padding: 0;
  }
}
