.ReactModal__Overlay{
  background-color: rgba($black, 0.8) !important;
  z-index: 1000;
  @include flex();
  @include flex-align(center, middle);

  .ReactModal__Content{
    position: relative;
    background-color: $red;
    padding: rem-calc(40);
    opacity: 0;
    @include transition(opacity 0.2s ease-in-out);
    &, &:focus{
      outline: none;
    }

    &.ReactModal__Content--after-open{
      opacity: 1;
    }
    &.ReactModal__Content--before-close{
      opacity: 0;
    }

    .close-modal-icon{
      background-color: $white;
      position: absolute;
      top: rem-calc(-15);
      right: rem-calc(-15);
      font-size: rem-calc(25);
      color: $red;
      padding: rem-calc(3);
      width: rem-calc(35);
      height: rem-calc(35);
      border-radius: 50%;
      cursor: pointer;
    }

    @include breakpoint(medium){
      min-width: rem-calc(400);
    }
  }
}
