// main nav
// ===========================
#main-nav{
  @include flex();
  @include flex-align(center, middle);
  position: fixed;
  top: -100vh;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background-color: rgba($white, 1);
  width: 100vw;
  height: 100vh;
  @include transition(all 0.2s);
  z-index: 99;

  ul{
    list-style-type: none;
    margin: 0;
    text-align: center;
    li a{
      color: $black;
      font-weight: bold;
      font-size: rem-calc(40);
      text-transform: uppercase;
      @include breakpoint(large){
        font-size: rem-calc(60);
      }
    }
  }
}

#site-header.show-site-nav{
  #main-nav{
    top: 0;
    opacity: 1;
    pointer-events: auto;
  }
  .site-logo, .site-nav{
    z-index: 100;
  }
  .site-logo .font-white{
    color: $black;
  }
  .site-nav .site-nav-icon{
    color: $black;
  }
  .site-nav .site-nav-icon span {
    background-color: $black;
  }
}


// site nav icon animations
// ===========================
.site-nav-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: $white;
  opacity: 1;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.site-nav-icon span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

.site-nav-icon span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

.site-nav-icon span:nth-child(1), .site-nav-icon span:nth-child(2) {
  top: 0px;
}

.site-nav-icon span:nth-child(3), .site-nav-icon span:nth-child(4) {
  top: 18px;
}

.site-nav-icon span:nth-child(5), .site-nav-icon span:nth-child(6) {
  top: 36px;
}

.site-nav-icon.open span:nth-child(1),.site-nav-icon.open span:nth-child(6) {
  transform: rotate(45deg);
}

.site-nav-icon.open span:nth-child(2),.site-nav-icon.open span:nth-child(5) {
  transform: rotate(-45deg);
}

.site-nav-icon.open{
  span{
    width: 60%;
  }

  span:nth-child(1) {
    left: 0;
    top: 10px;
  }

  span:nth-child(2) {
    left: calc(60% - 9px);
    top: 10px;
  }

  span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }

  span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }

  span:nth-child(5) {
    left: 0;
    top: 30px;
  }

  span:nth-child(6) {
    left: calc(60% - 9px);
    top: 30px;
  }
}
