#page-about{
  .marquee{
    background-color: $black;
    .marquee-image{
      opacity: 0.5;
      @include breakpoint(large){
        background-position: center -120px;
      }
    }
  }
  .bio{
    position: relative;

    &.bio-first{
      margin-top: rem-calc(-80);
    }

    @include breakpoint(medium){
      &, &.bio-first{
        margin-top: rem-calc(-80);
      }
    }
    @include breakpoint(large){
      &, &.bio-first{
        margin-top: rem-calc(-60);
      }
    }
  }
  .bio-name{
    padding: rem-calc(10);
    background-color: $red;
    color: $white;
    margin-top: rem-calc(30);

    @include breakpoint(large){
      margin-top: 0;
      display: inline-block;
    }
  }

  .inner-content{
    position: relative;
    top: rem-calc(-40);
  }
}
